@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:ital,wght@0,400;1,700&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:rgba(23, 24, 23, 0.726);
}
.container{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: white;
    background: #000;
    display: flex;
    border: 2px solid black;
    border-radius: 3px;
}

@media (min-width: 200px) and (max-width: 400px) {
    .sub-div1, .sub-div2, .sub-div3{
        font-size: 45px;
       }
    container{
       font-size: 40px;
       }
}

.button-start,.button-clear,.button-restart,.button-reset{
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    display: block;
    padding: 13px;
    border: 2px solid black;
    border-radius: 10px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: bolder;
    background: transparent;

}
.button-clear{
    font-family: 'Poppins', sans-serif;
    color: green;
    background: #000;
    text-align: center;
    display: none;
}
.button-restart{
    font-family: 'Poppins', sans-serif;
    margin-left: 16px;
    margin-left: 10px;
    text-align: center;
    color: white;
    background: red;
    display: none;

}
.button-start:hover, .button-restart:hover, .button-clear:hover, .button-reset:hover{
    font-family: 'Poppins', sans-serif;
    transform: scale(1.143);
    border-color: white;
    cursor: pointer;
    background: #1f1e1e;
    color: white;
}
.event{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    /* display: block; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
header{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 19px;
    width: max-content;
    background: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    /* background: transparent; */
    /* padding: 1px; */
    color: yellow;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
@media  {
    
}